body {
  height: 100%;
  overflow: hidden; }

.document-content {
  height: 100%;
  overflow: scroll; }

.category-list-wrapper {
  height: 100%;
  overflow: scroll;
  padding: 20px 50px;
  list-style: none;
  line-height: 35px; }
  .category-list-wrapper > li:last-child {
    margin-bottom: 120px; }
  .category-list-wrapper li a.active {
    color: #f8542e; }
  .category-list-wrapper li a {
    font-weight: bold;
    font-size: 18px;
    color: rgba(7, 24, 31, 0.87); }
  .category-list-wrapper li ul li a {
    font-size: 15px;
    color: rgba(3, 17, 31, 0.54); }
  .category-list-wrapper ul {
    padding-left: 20px; }
  .category-list-wrapper * {
    list-style: none; }

.text-content {
  padding: 20px;
  color: rgba(7, 24, 31, 0.87);
  max-width: 800px;
  margin: auto;
  margin-top: 0;
  padding-bottom: 100px; }
  .text-content .edit {
    border-bottom: 1px solid #f8542e; }
